#info {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/barbell.jpg);
    background-position: center;
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    color: white;
    margin-bottom: 30px;
}

#info h1 {
    margin-top: 55px;
}

#info p {
    padding: 0 15px;
}

.mt-100 {
    margin-top: 0px
}

.card {
    border-radius: 7px !important;
    border-color: rgb(117, 116, 116);
}

.mb-30 {
    margin-bottom: 30px !important;
}

.card-img-tiles {
    display: block;
    border-bottom: 1px solid rgb(117, 116, 116);
}

a {
    color: black;
    text-decoration: none !important;
}

.card-img-tiles>.inner {
    display: table;
    width: 100%
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}

.card-img-tiles .main-img>img:last-child,
.card-img-tiles .thumblist>img:last-child {
    margin-bottom: 0
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.thumblist {
    width: 35%;
    border-left: 1px solid rgb(117, 116, 116) !important;
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}

.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.btn-outline-primary {
    color: #be6312;
    border-color: #be6312;
}

.card-title {
    float: left;
    width: 70%;
}

.text-muted {
    float: none;
    margin-bottom: 0;
}

.rightbt {
    float: right;
    width: 30%;
    margin-top: 10px;
}