body {
  color: #732138;
}

.main {
  margin: 6% auto;
}

.buy {
  position: relative;
  top: 20px;
}

.rating {
  margin-left: 3%;
}

.submit {
  float: right;
}

.price {
  margin-top: 15px;
}

hr {
  margin: 40px auto;
  width: 75%;
}

.pimg {
  height: 250px;
}

.checked {
  color: orange;
}

.name {
  color: blue;
}

#reviewAlert {
  display: none;

}

#review {
  margin-top: 25px;
}

#weeks::-webkit-slider-thumb {
  background: #C0E218;
}

#weeks::-moz-range-thumb {
  background: #C0E218;
}

#weeks::-ms-thumb {
  background: #C0E218;
}

#weeks ::after {
  content: '5';
}

#cartAlert {
  display: none;
}

.rent {
  background: #C70039;
  color: #C0E218;
  border: #C70039;
}

#Add-to-cart {
  color: #C70039;
  border: 1px solid #C70039;
}