.main {
  margin: 6% auto;
}

.buy {
  position: relative;
  top: 20px;
}

.rating {
  margin-left: 3%;
}

.submit {
  float: right;
}

.price {
  margin-top: 15px;
}

hr {
  margin: 40px auto;
  width: 75%;
}

.pimg {
  height: 250px;
}

.checked {
  color: orange;
}

.name {
  color: blue;
}

#reviewAlert {
  display: none;

}
